<div class="text-center">
  <h1>Create a new dose</h1>
  <%= link_to "Go back to the cocktail", cocktail_path(@cocktail) %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description, placeholder: "Dose" %>
        <!-- how to display ingredients list? -->
        <%= f.input :ingredient_id, placeholder: "Select ingredient", collection: Ingredient.all %>
        <%= f.button :submit, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
